---
layout: default 
title: Science
permalink: /science/
---

{% include wrap.html %}

<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h2>Publications</h2>
    </div>

    <! -- BLOG POSTS LIST -->
    {% for paper in site.categories['publication'] %}
    <div class="row">
    {% assign currentdate = paper.date | date: "%Y" %}
    {% if currentdate != date %}
    <div class="col-sm-1 col-md-offset-1 hidden-xs"><h3>{{ currentdate }}</h3></div>
    <div class="col-sm-11 col-md-8">
    {% assign date = currentdate %} 
    {% else %}
    <div class="col-sm-11 col-md-8 col-sm-offset-1 col-md-offset-2">
    {% endif %}
      {% if paper.url_web %}
      <h3><a href="{{ paper.url_web  }}">{{ paper.title }}</a></h3>
      {% else %}
      <h3>{{ paper.title }}</h3>
      {% endif %}

      <p>{{ paper.author }}.<br \> 
         {{ paper.journal }}.</p>
      {% if paper.url_web %}
      <a href="{{ paper.url_web  }}"><button type="button" class="btn btn-default">View Online</button></a>
      {% endif %}
      {% if paper.url_pdf %}
      <a href="{{ paper.url_pdf  }}"><button type="button" class="btn btn-default">Download</button></a>
      {% endif %}
    </div>
    </div>
    {% endfor %}

    <div class="row">
    <div class="col-md-10">
      <center><a href="http://scholar.google.de/citations?user=aRPHGTAAAAAJ">
          <button type="button" class="btn btn-default">View at Google Scholar</button></a></center>
    </div>
    </div>
  </div>
</div>

<div class="container mtb">
  <div class="row">
    <div class="jumbotron">
      <h2>Software</h2>
    </div>
    <div class="col-sm-6 col-md-3">
      <h3><a href="http://evol.bio.lmu.de/_statgen/software/jaatha">Jaatha</a></h3>
      A simulation based composite-likelihood method to fit 
      an evolutionary model to genetic data.
      <br>
      <a href="http://evol.bio.lmu.de/_statgen/software/jaatha">[Link]</a> 
      <a href="http://cran.r-project.org/web/packages/jaatha">[CRAN]</a> 
      <a href="https://github.com/paulstaab/jaatha">[Source]</a> 
    </div>
    <div class="col-sm-6 col-md-3">
      <h3><a href="https://scrm.github.io">scrm</a></h3>
      An efficient coalescent simulator for genome-scale sequences.
      <br>
      <a href="https://scrm.github.io">[Link]</a> 
      <a href="https://github.com/scrm/scrm">[Source]</a> 
    </div>
    <div class="col-sm-6 col-md-3"><h3>mrj</h3>
      Simulates a population of haploids undergoing 
      <a href="https://secure.wikimedia.org/wikipedia/en/wiki/Muller%27s_ratchet">Muller's Ratchet</a>.
      Capable of compensatory mutations. 
      <br>
      <a href="https://github.com/paulstaab/mrj">[Source]</a>
      <a href="https://github.com/paulstaab/mrj/releases/download/v1.0/mrj.jar">[Runnable jar file]</a> 
    </div>
    <div class="col-sm-6 col-md-3">
      <h3><a href="http://www.synbiowave.org">SynBioWave</a></h3>
      A collaborative synthetic biological software suite, based on
      discontinued Google Wave.
      <br>
      <a href="http://www.synbiowave.org">[Link]</a>
    </div>
  </div>
</div>


