---
layout: blog
title: Tags
permalink: /blog/tags.html
---

<h1>{{ page.title }}</h1>

<!-- BLOG POSTS LIST -->
{% for tag in site.tags %}

	<a class="anchor" id="{{ tag.first }}"></a><h2>{{ tag.first }}</h2>
	    <div class="hline"></div>
	    <ul class="popular-posts">
		{% for post in site.tags[tag.first] %}

		    <li>
			<p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
			<em>Posted on {{ post.date | date_to_string }}</em>
		    </li>
       
		{% endfor %}
	  </ul>

{% endfor %}

