<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Paul Staab">
    <!-- <link rel="shortcut icon" href="{{ "/assets/ico/favicon.ico" | prepend: site.baseurl }}"> -->

    <title>paulstaab.de{% if page.title %} - {{ page.title }}{% endif %}</title>

    <!-- Combined CSS Stylecheets  -->
    <link href="{{ "/assets/css/combined.css" | prepend: site.baseurl }}" rel="stylesheet">
    
    <link rel="alternate" type="application/rss+xml" title="Blog Posts" href="{{"/feed.xml" | prepend: site.baseurl }}" />
</head>

