<!-- Navigation Bar -->
{% if page.title == "Home" %}
<nav class="navbar fixed-top navbar-dark navbar-transparent navbar-expand-md ">
{% else %}
<nav class="navbar fixed-top navbar-light navbar-expand-md">
{% endif %}
	<div class="container">
		<a class="navbar-brand" href="{{ "/"  | prepend: site.baseurl }}">{{ site.title }}</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nbt" aria-controls="nbt" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="nbt">
			<ul class="navbar-nav ml-auto">
			{% for link in site.navigation %}
				{% assign page_url_parts = page.url | split: '/' %}
				{% assign link_url_parts = link.url | split: '/' %}
				{% assign current = nil %}
				{% if page_url_parts[1] == link_url_parts[1] %}
					{% assign current = 'active' %}
				{% endif %}
				<li class="nav-item {% if forloop.first %}first {% endif %}{{ current }}{% if forloop.last %} last{% endif %}">
					<a class="nav-link" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
				</li>
			{% endfor %}
			</ul>
		</div> 
	</div>
</nav>

