.intro-message {
  position: relative;
  padding-top: 20%;
  color: #FFF;
}

.intro-message > h1 {
  margin: 10px 0px 10px 0px !important;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 3em;
}

.intro-message > h2 {
  margin: 10px 0px 10px 0px !important;
  font-size: 1.2em;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  margin-top: 0px;
}

.intro-message > ul {
  margin-top: 20px;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #F8F8F8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.bgimg {
  text-align: center;
  min-height: 400px;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 230px;
  position: relative;
}

.science-papers {
  background: url("../img/science.jpg") no-repeat scroll center center / cover transparent;
  margin-top: -60px;
}

.science-software {
  background: url("../img/source-code.jpg") no-repeat scroll center center / cover transparent;
}

.bgimgcredits {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
}

.transparent{
  background:rgba(255,255,255,0.9);
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #384452;
}
