#intro-bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: #000 none repeat scroll 0% 0%;
  pointer-events: none;
}

#intro-bg img {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  opacity: 0.4;
}

.intro-message > p {
  color: #FFFFFF;
  font-size: 1.5em;
  text-align: left;
  line-height: inherit;
}

.intro-message a {
  color:#01b2fe;
  font-weight: 600;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #384452;
}

#instafeed img {
  width: 100%;
  height: auto;
}

#instafeed .likes {
  float: right;
  padding-bottom: 20px;
}

.navbar-transparent {
  background: rgba(0,0,0,0.5) !important;
}

