---
layout: default
---

{% include wrap.html %}

<div class="container mt">
  <div class="row">
    <div class="col-sm-4 col-md-offset-1">

      <p><b>Type:</b> {{ page.type }}<br />
      <b>My Role:</b> {{ page.role }}<br />
      <b>Language:</b> {{ page.languages | array_to_sentence_string }}<br />
      {% if page.website %}
      <b>Website:</b> <a href="{{ page.website  }}">{{ page.website }}</a><br />
      {% endif %}
      {% if page.github %}
      <b>Code:</b> <a href="https://github.com/{{ page.github  }}" class="fa fa-github">
        {{ page.github }}</a>
      {% endif %}
      </p>
    </div>

    <div class="col-sm-8 col-md-6">
        {{ content }}

        {% assign publications = site.publications | where:'project',page.title %}
        {% if publications.size != 0 %}
        {% if publications.size == 1 %}
        <h4>Related Publication:</h4>
        {% else %}
        <h4>Related Publications:</h4>
        {% endif %}
        <p><ul>
          {% for paper in publications %} 
          <li>
          {% if paper.url_web %}
          <b><a href="{{ paper.url_web  }}">{{ paper.title }}</a></b>
          {% else %}
          <b>{{ paper.title }}</b>
          {% endif %}
          <br \>
          {{ paper.author }}.
          {{ paper.journal }}.
          {% endfor %}
        </ul><p>
        {% endif %}

    </div>
    </div><! --/row -->
</div><! --/container -->
